@tailwind base;
@tailwind components;
@tailwind utilities;


/* Light Mode Variables */

:root {
  --text-color: rgb(17 24 39);
  /* Bright blue for primary actions */
  --text-color-Model: rgb(17 24 39);
  /* Bright blue for primary actions */
  --nav-color: #ffffff;
  /* Bright blue for primary actions */
  --buttons-color: #00ADB5;
  /* Green for secondary actions */
  --buttons-color-hovered: #02888f;
  /* Green for secondary actions */
  --background-color: transparent;
  /* Light grey background */
  --background-color-Menu: rgb(17 24 39);
  ;
  /* Light grey background */

  --background-color-Products: #a4c0c0a6;
  /* Light grey background */
}

/* Dark Mode Variables */

.dark {
  --text-color: #ffffff;
  /* Bright blue for primary actions */
  --text-color-Model: rgb(248, 249, 252);
  /* Bright blue for primary actions */
  --background-color-Menu: rgb(17 24 39);
  /* Light grey background */


  --nav-color: #ffffff;
  /* Bright blue for primary actions */
  --buttons-color: #cab91c;
  /* Green for secondary actions */
  --buttons-color-hovered: #998c14;
  /* Green for secondary actions */
  --background-color: rgb(17 24 39);
  /* Light grey background */
  --background-color-Products: rgb(9, 13, 24);
  /* Light grey background */

}


html {
  scroll-behavior: smooth;
}

.lds-roller,
.lds-roller div,
.lds-roller div:after {
  box-sizing: border-box;

}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7.2px;
  height: 7.2px;
  border-radius: 50%;
  background: currentColor;
  margin: -3.6px 0 0 -3.6px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 62.62742px;
  left: 62.62742px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 67.71281px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 70.90963px;
  left: 48.28221px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 70.90963px;
  left: 31.71779px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 67.71281px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 62.62742px;
  left: 17.37258px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12.28719px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}